name: Tests

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install package and test deps
        run: |
          python -m pip install --upgrade pip
          pip install .
          pip install ".[torch]"
          pip install ".[tests]"

      - name: Run tests with coverage
        run: |
          pytest --cov --cov-branch --cov-report=xml

      - name: Upload coverage reports to Codecov
          uses: codecov/codecov-action@v5
          with:
            token: ${{ secrets.CODECOV_TOKEN }}